*{
	box-sizing: border-box;
	font-family: Helvica, sans-serif;
  }

  body{
	margin: 0;
  }

  main{
	padding: 0 10vw
  }

  .space{
	margin: 50px 0
  }

  ul{
	list-style: none
  }

  header{
	display: flex;
	width: 100%;
  }

  .heading{
	position: fixed;
	top: 0;
	background-color: #Ffedd1;
	width: 100%
  }

  .space-guitar{
	width: 60vw
  }

  .three-nav{
	width: 35vw;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	box-sizing: border-box;
	padding: 0 20px;
  }

  nav > ul > li{
	font-size: 20px;
	font-family: Helvetica, sans-serif;
	margin-block: 0px;
	padding: 0 7px;
	text-decoration: none;
  }

  a{
	text-decoration: none;
	color: inherit;
  }

  .nav-header{
	text-decoration: none;
  }

  .form{
	text-align: center;
	margin-top: 120px;
  }

  input[type="email"]{
	width: 250px;
	height: 25px;
  }

  input[type="submit"]{
	margin: 20px 0;
	width: 170px;
	height: 30px;
	font-family: helvetica, sans serif;
	font-weight: bold;
	font-size: 20px;
	background-color:#FFA500;
	border: none;
  }

  i{
	float: left;
	width: 100px;
	height: 110px;
	color: #FFA500
  }

  #logo-features{
	padding-bottom: 10px;
  }

  #How It Works{
	text-align: center
  }

  #Pricing{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
  }

  .pricing-choice{
	border-style: solid;
	border-color: black;
	border-width: 0.5px;
	border-radius: 5px !important;
	width: 33%;
	position: relative
  }

  .feature-title{
	text-align: center;
	width: 100%;
	height: 40px;
	background-color: #Ffedd1;
	border-radius: 5px 5px 0 0;
	margin: 0
  }

  .select{
	font-size: 20px;
	padding: 10px 30px;
	background-color: #FFA500;
	border-radius: 5px;
	border-width: 0;
	cursor: pointer;
	display: flex;
	margin: auto;
	margin-bottom: 20px;
  }

  .select:hover{
	background-color: #FFC000
  }

  .footer-elements{
	display: flex;
	justify-content: right;
	gap: 10px;
  }

  .footer-text{
	font-size: 18px;
  }

  .copyright{
	text-align: right;
	margin-top: 0;
	padding-top: 0;
  }

  footer{
	background-color: #Ffedd1;
	padding: 10px 30px;

  }

  @media only screen and (max-width: 720px){
	main{
	  padding: 0;
	}
	header{
	  display: inline;
	  padding: 0 auto;
	}
	.three-nav{
	  display: inline
	}
	.space-guitar{
	  width: 30vw;
	  display: block;
	  margin: 0 auto;
	}
	#nav-bar{
	  text-align: center;
	}
	.form{
	  margin-top: 260px;
	}
  }